<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin">
        <gazebo>
            <!-- 1. 差速驱动插件 -->
            <!-- 引入 gz_ros2_control 插件，替代原来的 DiffDrive 插件 -->
            <plugin filename="gz_ros2_control-system"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <!-- 告诉 Gazebo：控制器的参数写在这个 YAML 文件里 -->
                <parameters>$(find glionbot_description)/config/glionbot_ros2_controller.yaml</parameters>
                <!-- 在这里完成话题的重映射！ -->
                <ros>
                    <!-- 将控制器默认接收的命令话题，重映射为全局的 /cmd_vel -->
                    <remapping>/glionbot_base_controller/cmd_vel:=/cmd_vel</remapping>
                    <!-- 将控制器默认发布的里程计话题，重映射为全局的 /odom -->
                    <remapping>/glionbot_base_controller/odom:=/odom</remapping>
                </ros>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>